<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
    .layout{
        text-align: center;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .button{
        text-align: left;
        margin-top: 80px;
        margin-left: 100px;
        color: white;

    }
    .judul{
        background-color: #002752;
        font-size: 27px;
        color: white;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<section>
<div class="container">
    <td>
        <a  class="btn btn-sm button" th:href="@{/penerbangan/tambah}" style="background-color: #117a8b">+Tambah Penerbangan</a>
    </td>
    <div class="layout">
    <div class="judul">Daftar Penerbangan</div>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Kode Penerbangan</th>
            <th>Waktu</th>
            <th>Kota Asal</th>
            <th>Kota Tujuan</th>
            <th></th>
            <th>Action</th>
            <th></th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="penerbangan, iterationStatus : ${listPenerbangan}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${penerbangan.kode}"></td>
            <td th:text="${#dates.format(penerbangan.waktu, 'HH:mm dd-MM-yyyy')}"></td>
            <td th:text="${penerbangan.kota_asal}"></td>
            <td th:text="${penerbangan.kota_tujuan}"></td>
            <td><a th:href="@{/penerbangan/detil/}+${penerbangan.id}" class="btn btn-outline-info">lihat</a></td>
            <td><a th:href="@{/penerbangan/ubah/}+${penerbangan.id}" class="btn btn-outline-secondary">Ubah</a></td>
            <td><form th:action="@{/penerbangan/hapus}" method="post">
                <input type="hidden" th:value="${penerbangan.id}"  name="penerbanganid" />
                <button class="btn btn-outline-danger" type="submit">Hapus</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</div>
</section>
</body>
</html>