<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
    .layout{
        text-align: center;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .button{
        text-align: left;
        margin-top: 80px;
        margin-left: 100px;
        color: white;
    }

    .judul{
        background-color: #002752;
        font-size: 27px;
        color: white;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<section>
    <td><a type="submit" class="btn btn-sm button" th:href="@{/pilot/tambah}" style="background-color: #117a8b">+Tambah Pilot</a></td>
    <div class="layout">
    <div class="judul">Daftar Pilot</div>

    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIP</th>
            <th>NIK</th>
            <th>Tanggal Lahir</th>
            <th>Jenis Kelamin</th>
            <th>Action</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pilot, iterationStatus : ${listPilot}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pilot.namaPilot}"></td>
            <td th:text="${pilot.nip}"></td>
            <td th:text="${pilot.nik}"></td>
            <td th:text="${#dates.format(pilot.tanggal_lahir, 'dd/MM/yyyy')}"></td>
            <td>
                <div th:if="${pilot.jenis_kelamin == 1}">Laki-laki</div>
                <div th:if="${pilot.jenis_kelamin == 2}">Perempuan</div>
            </td>
            <td><a th:href="@{/pilot/}+${pilot.nip}" class="btn btn-outline-info">lihat</a></td>
            <td><a th:href="@{/pilot/ubah/}+${pilot.nip}" class="btn btn-outline-secondary">Ubah</a></td>
            <td><a th:href="@{#}" class="btn btn-outline-danger">Hapus</a></td>


        </tr>
        </tbody>
    </table>

    <br><br>
    <a href="/">Kembali</a>

    </div>
</section>
</body>
</html>