<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">

    <table class="table">
        <form th:action="@{/cari/pilot/penerbangan-terbanyak}" method="GET">
            <thead>
            <tr>
                <td> Pilih Kode Maskapai </td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div>
                        <select name="kodeMaskapai">
                            <option value="">Kode Maskapai</option>
                            <option th:each="maskapai : ${listMaskapai}" th:text="${maskapai.kode}" th:value="${maskapai.kode}"></option>
                        </select>
                    </div>
                </td>
                <td>
                    <button class="btn btn-primary text-white" type="submit"> Submit </button>
                </td>
            </tr>
            </tbody>
        </form>
    </table>
    <h2>Daftar 3 Pilot terbaik beradasarkan Jumlah Penerbangan Terbanyak</h2>

    <table class="table">
        <thead>
        <tr>
            <td> No </td>
            <td> Nama </td>
            <td> NIP </td>
            <td> Penerbangan </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pilot, iterationStatus : ${listPilot}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pilot.namaPilot}"></td>
            <td th:text="${pilot.nip}"></td>
            <td th:text="${#lists.size(pilot.listPilotPenerbangan)}"></td>
        </tr>
        </tbody>
    </table>



</div>
</body>
</html>