<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cari Pilot 1 Bulan Terakhir</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
    .layout{
        text-align: center;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .judul{
        background-color: #002752;
        font-size: 27px;
        color: white;
        font-weight: 400;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="layout">
<div class="judul">
    Daftar Pilot Pada Penerbangan bulan Ini
</div>
<table class="table" style="margin-top: 20px">

    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Nama</th>
        <th scope="col">Nip</th>
        <th scope="col">tanggal Lahir</th>
        <th scope="col">Jenis Kelamin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "pilot, iterationStatus: ${listPilot}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text ="${pilot.namaPilot}"> </td>
        <td th:text="${pilot.nip}"></td>
        <td th:text="${#dates.format(pilot.tanggal_lahir, 'dd/MM/yyyy')}"></td>
        <td>
            <div th:if="${pilot.jenis_kelamin == 1}">Laki-laki</div>
            <div th:if="${pilot.jenis_kelamin == 2}">Perempuan</div>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>