<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Berdasarkan ID Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <h2>Detail Penerbangan</h2>
    <table class="table">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="'ID' "></td>
            <td th:text="': '+ ${penerbangan.id}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Kode Penerbangan' "></td>
            <td th:text="': '+ ${penerbangan.kode}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Waktu' "></td>
            <td th:text="': '+ ${#dates.format(penerbangan.waktu, 'HH:mm ,  dd-MM-yyyy')}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Kota Asal' "></td>
            <td th:text="': '+ ${penerbangan.kota_asal}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Kota_tujuan' "></td>
            <td th:text="': '+ ${penerbangan.kota_tujuan}"></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td><a th:href="@{/penerbangan/ubah/}+${penerbangan.id}" class="btn btn-outline-secondary">Ubah</a></td>
            <td><form th:action="@{/penerbangan/hapus}" method="post">
                <input type="hidden" th:value="${penerbangan.id}"  name="penerbanganid" />
                <button class="btn btn-outline-danger" type="submit">Hapus</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/penerbangan/{penerbanganid}/pilot/tambah(penerbanganid=${penerbangan.id})}"th:object="${pilotPenerbangan}" method = "POST">
            <select th:value="${pilotPenerbangan.pilot}" th:field="${pilotPenerbangan.pilot}">
                <option th:each="pilot : ${listPilot}" th:text="${pilot.namaPilot}" th:value="${pilot.id}" ></option>
            </select>
        <button type="submit">Tambah Pilot</button>
    </form>

    <h2>Daftar Pilot</h2>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIP</th>
            <th>Tanggal Lahir</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Penugasan</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pilot, iterationStatus : ${listPilotPenerbangan}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pilot.getPilot().namaPilot}"></td>
            <td th:text="${pilot.getPilot().nip}"></td>
            <td th:text="${#dates.format(pilot.getPilot().tanggal_lahir, 'dd/MM/yyyy')}"></td>
            <td>
                <div th:if="${pilot.getPilot().jenis_kelamin == 1}">Laki-laki</div>
                <div th:if="${pilot.getPilot().jenis_kelamin == 2}">Perempuan</div>
            </td>
            <td th:text="${#dates.format(pilot.tanggal_penugasan, 'dd/MM/yyyy')}"></td>


        </tr>
        </tbody>
    </table>


    <br><br>
    <a href="/">Kembali</a>
</div>

</body>
</html>