<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Pilot by NIP</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <h2>Detail Pilot</h2>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="'ID' "></td>
            <td th:text="': '+ ${pilot.id}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Nama' "></td>
            <td th:text="': '+ ${pilot.namaPilot}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Nik' "></td>
            <td th:text="': '+ ${pilot.nik}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Jenis Kelamin' "></td>
            <td>
                <div th:if="${pilot.jenis_kelamin == 1}">: Laki-laki</div>
                <div th:if="${pilot.jenis_kelamin == 2}">: Perempuan</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'NIP' "></td>
            <td th:text="': '+ ${pilot.nip}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Tempat Lahir' "></td>
            <td th:text="': '+ ${pilot.tempat_lahir}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Tanggal Lahir' "></td>
            <td th:text="': '+ ${#dates.format(pilot.tanggal_lahir, 'dd/MM/yyyy')}"></td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Sekolah' "></td>
            <td>
                <div th:if="${pilot.akademi.id == 1}">: Sekolah Terbang Tinggi</div>
                <div th:if="${pilot.akademi.id == 2}">: Sekolah Angkasa Luar</div>
                <div th:if="${pilot.akademi.id == 3}">: Sekolah Galaksi</div>
                <div th:if="${pilot.akademi.id == 4}">: Sekolah Daun Hijau</div>
                <div th:if="${pilot.akademi.id == 5}">: Sekolah Angkatan Udara</div>
                <div th:if="${pilot.akademi.id == 6}">: Sekolah Angkasa Udara</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td th:text="'Maskapai' "></td>
            <td>
                <div th:if="${pilot.maskapai.id == 1}">: LienAir</div>
                <div th:if="${pilot.maskapai.id == 2}">: SriAir</div>
                <div th:if="${pilot.maskapai.id == 3}">: AsiaAir</div>
                <div th:if="${pilot.maskapai.id == 4}">: GarudaAir</div>
                <div th:if="${pilot.maskapai.id == 5}">: FlyEmiret</div>
                <div th:if="${pilot.maskapai.id == 6}">: ButikAir</div>
                <div th:if="${pilot.maskapai.id == 7}">: JakAir</div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a th:href="@{/pilot/ubah/}+${pilot.nip}" class="btn btn-outline-secondary">Ubah</a></td>
            <td><a th:href="@{/pilot/hapus/}+${pilot.id}" class="btn btn-outline-danger">Hapus</a></td>
        </tr>

        </tbody>
    </table>
    <h2>Detail Penerbangan</h2>
    <table class="table">

        <thead>
        <tr>
            <th>No</th>
            <th>Kode Penerbangan</th>
            <th>Waktu </th>
            <th>Kota Asal</th>
            <th>Kota Tujuan</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="penerbangan, iterationStatus : ${listPilotPenerbangan}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${penerbangan.getPenerbangan().kode}"></td>
            <td th:text="${#dates.format(penerbangan.getPenerbangan().waktu, 'HH:mm ,  dd-MM-yyyy')}"></td>
            <td th:text="${penerbangan.getPenerbangan().kota_asal}"></td>
            <td th:text="${penerbangan.getPenerbangan().kota_tujuan}"></td>
            <td><a th:href="@{/penerbangan/detil/}+${penerbangan.getPenerbangan().id}" class="btn btn-outline-info">lihat</a></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <a href="/">Kembali</a>
</div>
</body>
</html>